#modelInfo {
    width:550px;
}

#modelInfo h1 {
    font-size:120%;	
    margin-bottom:0;
}

#modelInfo h2 {
    font-size:1em
}

.kcm_sort_note {
    font-size:90%;
    margin:0;
}

.kcm_sort_note_label {
    color:gray;
    display: inline-block;
    width: 80px;
}

.kcm_sort_note_value {
    color:black;
}

#toolbox {
    width:270px;
    margin:3px 0 8px 0;
}

#model_dialogue_import {
    margin-left:6px;
}

#model_dialogue {
    width:350px;
    float:left;
    background-color:#efefef;
    padding:9px;
    margin:9px 0 15px 0;
    position:relative;
}

#model_dialogue h2, #toolbox h2 {
    font-size:105%;
    margin:0pt;
    padding:0pt;
}

#model_dialogue span {
    font-size: 90%;
    font-weight:bold;
}

#model_dialogue label {
    font-size: 90%;
    display:block;
    margin:10px 0 3px 0;
}

#model_dialogue select {
    width:270px;
    margin:0 0 .5em 10px;
}

#model_dialogue p {
    font-size:85%;	
}

#export_model_select {
    display:block;
}

#model_import_form p {
    font-size:.75em;
    padding-left:.5em;
    padding-right:1.2em;
}

#model_import_file {
    margin:.5em .5em 0 .5em
}

#model_import_log {
    background-color:#5f5f5f;
    color:white;
    font-family: monospace;
    height:15em;
    padding:.5em;
    overflow: auto;
    margin-bottom:.4em
}

#model_import_log p {
    margin:0;
    padding:0;
    font-size:12px;
}

#model_import_log p.error {
    color:#ff9f9f;
    border:0;
    width:auto;
    text-align:left;
    background-color: transparent;
}

#model_import_log p.warning {
    color:#ffdf88;
    border:0;
    width:auto;
    text-align:left;
    background-color: transparent;
}

#modelValuesTable .moreInfo ul.skills {
    margin:2em 0 0 2.5em;
    max-height: 150px;
    width: 40%;
    overflow: auto;
    padding:.5em 0 1em 2.5em;
    list-style: square;
    font-size:1.1em;
    text-align: left;
    clear:left;
    border:1px solid lightgray;
}

#modelValuesTable .moreInfo h3 {
    font-size:1.1em;
    float:left;
    margin: 0.4em 0 0 2.6em;
}

#modelValuesTable .moreInfo td {
    border-left:1px solid #b3b3b3; 
}

#modelValuesTable .detailsLink {
    display:block;    
    position:absolute;
}

#modelValuesTable .modelName, .modelNameFake {
    min-width:200px;
    max-width:300px;
    font-size:12px;
    display:block;
}

#modelValuesTable .modelNameFake {
    font-style:oblique;
}

#modelValuesTable .value { 
    display:block;    
    font-size:12px;
}
#modelValuesTable {
    border-bottom:1px solid #b3b3b3;
    border-top:none;
    margin-bottom:1em;
}

#modelValuesTable th {
    text-align:right;
    padding-left:10px;
    padding-right:10px;
    border-left:1px solid #b3b3b3;
    border-right:1px solid #b3b3b3;
    border-bottom:1px solid #b3b3b3;
}

#modelValuesTable #cross_validation_header {
    text-align:center;
    border-top:1px solid #b3b3b3;;
}

#modelValuesTable #model_name_header {
    text-align:left;
    width:400px;
}

#modelValuesTable tr.numObsChanged {
	border-top: 1px solid #6f6f6f;
}

#modelValuesTable td {
    color:#333;
    text-align:right;
}
#modelValuesTable .firstcell {
    border-left:1px solid #b3b3b3;
    width:80px;
}

#modelValuesTable .modelName, .modelNameFake {
    text-align:left;
}

#modelValuesTable .num_kcs {
    width:80px;
}

#modelValuesTable .obs_with_kcs {
    width:70px;
}

#modelValuesTable .colspanning {
    text-align:center;
    font-style:oblique;
    color:#666;
}

#modelValuesTable .deletecell {
   font-size:12px;
   text-align:center;
}
#modelValuesTable .deletecell .control {
   font-size:12px;
}

#modelValuesTable td.even {
    background-color:#efefef;
}

#modelValuesTable .inlineTextBox {
    width:275px;
}

#modelValuesTable .modelName.openInlineEditor {
    padding-top:3px;
    padding-left:3px;
    padding-bottom:3px;
    background-color:#EFEFEF;	
}

#modelValuesTable .modelName.editHover {
    background-color:#EFEFEF;
    cursor: pointer; 
}

#modelValuesTable .inlineTextBox {
    width:275px;
}

#modelValuesTable .undo_button, #modelValuesTable .redo_button {
    font-size:11px;
    font-weight: normal;
    margin-top:-18px;
    float:none;
}

#modelInfo .control, #modelValuesTable .control, #model_dialogue .control, #toolbox .control {
    color:#37567f;
    text-decoration: underline;
    font-size: 90%;
}

#modelValuesTableContainer {
    width: 65em;
    clear: left;
}

.kcm_tooltip div {
    padding-left:11px;
    font-size:12px;
}

p.cross-validation-note {
    color:#666;
    margin-top:.5em;
    margin-bottom:0;
    font-size:80%;
    clear:left;
}

#model_popup_cover {
    position:absolute;
    top:0;
    left:0;
    background-color:black;
    z-index: 80;
}

#model_popup {
    position:absolute;
    top:20px;
    background-color:white;
    border:1px solid black;
    width:90%;
    padding:.5em .4em;
    font-size: 90%;
    z-index: 90;
}

#model_popup label {
    display: inline;
    margin:0;
    padding:0;
}

#model_popup h1 {
    font-size: 105%;
    margin:0 0 3px 0;
    padding:0;
}

#model_popup p {
    margin:.6em .4em;
}

#model_popup p.error {
    width:auto;
}

#model_popup input {
    margin:0 5px;
    vertical-align:middle;
}

#model_popup #model_rename_field {
    margin:2px 0 5px 2em;
}